/* ========== VARIABLES ========== */
:root {
	/* 📝 Fonts */
	--font-heebo: "Heebo", sans-serif;
	--font-kalam: "Kalam", cursive;

	/* 🌈 Colors */
	--color-white: #ffffff;
	--color-black: #000000;

	--color-primary-400: #9955e8;
	--color-primary-500: #8a42db;

	--color-secondary-50: #7dffaf24;
	--color-secondary-500: #7dffaf;

	--color-surface-background: #171023;
	--color-surface-primary: #2c243b;
	--color-surface-secondary: #413a4f;
	--color-surface-tertiary: #4e4563;

	--color-text-primary: #f5f6f6;
	--color-text-secondary: #cdd0d4;

	/* 📏 Spacing (Tailwind: 0.25rem * N) */
	--space-0: 0rem;
	--space-1: 0.25rem; /* 4px */
	--space-2: 0.5rem; /* 8px */
	--space-3: 0.75rem; /* 12px */
	--space-4: 1rem; /* 16px */
	--space-5: 1.25rem; /* 20px */
	--space-6: 1.5rem; /* 24px */
	--space-8: 2rem; /* 32px */
	--space-10: 2.5rem; /* 40px */
	--space-12: 3rem; /* 48px */
	--space-16: 4rem; /* 64px */
	--space-18: 4.5rem; /* 72px */
	--space-20: 5rem; /* 80px */
	--space-24: 6rem; /* 96px */
	--space-28: 7rem; /* 112px */
	--space-32: 8rem; /* 128px */
	--space-34: 8.5rem; /* 136px */
	--space-36: 9rem; /* 144px */
	--space-40: 10rem; /* 160px */
	--space-44: 11rem; /* 176px */
	--space-48: 12rem; /* 192px */
	--space-52: 13rem; /* 208px */
	--space-56: 14rem; /* 224px */
	--space-60: 15rem; /* 240px */
	--space-64: 16rem; /* 256px */

	/* 🔤 Font Sizes */
	--font-xs: 0.75rem; /* 12px */
	--font-sm: 0.875rem; /* 14px */
	--font-base: 1rem; /* 16px */
	--font-lg: 1.125rem; /* 18px */
	--font-xl: 1.25rem; /* 20px */
	--font-2xl: 1.5rem; /* 24px */
	--font-3xl: 1.875rem; /* 30px */
	--font-4xl: 2.25rem; /* 36px */
	--font-5xl: 3rem; /* 48px */
	--font-6xl: 3.75rem; /* 60px */
	--font-7xl: 4.5rem; /* 72px */

	/* 🔠 Line Height */
	--line-height-xs: 1rem; /* 16px */
	--line-height-sm: 1.25rem; /* 20px */
	--line-height-base: 1.5rem; /* 24px */
	--line-height-lg: 1.75rem; /* 28px */
	--line-height-xl: 2rem; /* 32px */
	--line-height-2xl: 2.25rem; /* 36px */
	--line-height-3xl: 2.5rem; /* 40px */
	--line-height-4xl: 2.75rem; /* 44px */
	--line-height-5xl: 3rem; /* 48px */
	--line-height-6xl: 3.25rem; /* 52px */
	--line-height-7xl: 3.5rem; /* 56px */

	/* Font Weight */
	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	/* 🔳 Border radius */
	--radius-sm: 0.125rem; /* 2px */
	--radius-md: 0.375rem; /* 6px */
	--radius-lg: 0.5rem; /* 8px */
	--radius-xl: 0.75rem; /* 12px */
	--radius-2xl: 1rem; /* 16px */
	--radius-full: 9999px;

	/* 🌫️ Shadow */
	--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

	/* 💨 Transitions */
	--transition-fast: 150ms ease-in-out;
	--transition-default: 300ms ease-in-out;

	/* 📏 Breakpoints */
	--breakpoint-xs: 480px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	/* 📏 Container */
	--container-xs: 640px;
	--container-sm: 768px;
	--container-md: 1024px;
	--container-lg: 1280px;
	--container-xl: 1440px;

	--brand-gradient-horizontal: linear-gradient(
		to right,
		var(--color-primary-400),
		var(--color-secondary-500)
	);

	--brand-gradient-vertical: linear-gradient(
		to bottom,
		var(--color-primary-400),
		var(--color-secondary-500)
	);
}

/* ========== GLOBAL STYLES ========== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-heebo);
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--color-surface-background);
	color: var(--color-text-primary);
}

body a {
	text-decoration: none;
}

main {
	margin: 0 auto;
	max-width: var(--container-xl);
	width: 100%;

	section {
		scroll-margin-top: var(--space-20);
	}
}

button {
	display: flex;
	background-color: transparent;
	cursor: pointer;
	border: none;
}

input,
textarea {
	outline: none;
	border: none;
}

.button-primary {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-2);
	padding: var(--space-4) var(--space-6);

	font-size: var(--font-base);
	line-height: var(--space-6);
	font-weight: var(--font-weight-medium);

	background-color: var(--color-primary-500);
	color: var(--color-text-primary);
	border-radius: var(--radius-lg);
	/* outline: 2px solid transparent; */

	transition: background-color var(--transition-fast);

	&:hover {
		background-color: var(--color-primary-400);
	}

	&:focus {
		background-color: var(--color-primary-400);
		outline: 2px solid var(--color-text-primary);
		outline-offset: 2px;
	}

	i,
	ion-icon {
		font-size: var(--font-2xl);
	}
}

.button-secondary {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-2);
	padding: var(--space-4) var(--space-6);

	font-size: var(--font-base);
	line-height: var(--space-6);
	font-weight: var(--font-weight-medium);

	background-color: var(--color-surface-secondary);
	color: var(--color-text-primary);
	border-radius: var(--radius-lg);
	/* outline: 2px solid transparent; */

	transition: background-color var(--transition-fast);

	&:hover {
		background-color: var(--color-surface-tertiary);
	}

	&:focus {
		background-color: var(--color-surface-tertiary);
		outline: 2px solid var(--color-text-primary);
		outline-offset: 2px;
	}

	i,
	ion-icon {
		font-size: var(--font-2xl);
	}
}

.icon-button-primary {
	height: var(--space-12);
	width: var(--space-12);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-2);
	padding: var(--space-3);

	background-color: var(--color-surface-background);
	color: var(--color-text-primary);
	border-radius: var(--radius-lg);

	transition: background-color var(--transition-fast);

	&:hover {
		background-color: var(--color-surface-primary);
	}

	&:focus {
		background-color: var(--color-surface-primary);
		outline: 2px solid var(--color-text-primary);
		outline-offset: 2px;
	}

	i,
	ion-icon {
		font-size: var(--font-2xl);
	}
}

.icon-button-secondary {
	height: var(--space-12);
	width: var(--space-12);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-2);
	padding: var(--space-3);

	background-color: var(--color-surface-secondary);
	color: var(--color-text-primary);
	border-radius: var(--radius-lg);

	transition: background-color var(--transition-fast);

	&:hover {
		background-color: var(--color-surface-tertiary);
	}

	&:focus {
		background-color: var(--color-surface-tertiary);
		outline: 2px solid var(--color-text-primary);
		outline-offset: 2px;
	}

	i,
	ion-icon {
		font-size: var(--font-2xl);
	}
}

.text-gradient {
	width: fit-content;
	background: var(--brand-gradient-horizontal);

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: var(--color-surface-secondary);
}

.headline {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);

	span {
		font-family: var(--font-kalam);
		font-size: var(--font-base);
		font-weight: var(--font-weight-regular);
		line-height: 100%;
		color: var(--color-secondary-500);
	}

	h2 {
		color: var(--color-text-primary);
		font-size: var(--font-2xl);
		font-weight: var(--font-weight-medium);
		line-height: var(--line-height-xl);
	}
}

.tech-stack {
	display: flex;
	align-items: center;
	gap: var(--space-6);

	i,
	ion-icon {
		font-size: var(--font-2xl);
		color: var(--color-primary-400);
	}
}

.custom-input {
	width: 100%;
	padding: var(--space-3) var(--space-4);

	background-color: var(--color-surface-background);
	color: var(--color-text-primary);

	font-size: var(--font-base);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-base);

	border-radius: var(--radius-lg);
	border: 2px solid transparent;

	transition: all var(--transition-fast);

	&:focus {
		border-color: var(--color-secondary-500);
	}

	&::placeholder {
		color: var(--color-text-secondary);
	}
}

.custom-textarea {
	width: 100%;
	height: 160px;
	resize: none;
	padding: var(--space-3) var(--space-4);

	background-color: var(--color-surface-background);
	color: var(--color-text-primary);

	font-size: var(--font-base);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-base);

	border-radius: var(--radius-lg);
	border: 2px solid transparent;

	transition: all var(--transition-fast);

	&:focus {
		border-color: var(--color-secondary-500);
	}

	&::placeholder {
		color: var(--color-text-secondary);
	}
}

.project-date-stack {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--space-2);

	& > span {
		color: var(--color-text-secondary);
		font-size: var(--font-sm);
		font-weight: var(--font-weight-regular);
		line-height: var(--line-height-base);
	}
}

/* ========== HEADER ========== */

.header {
	position: sticky;
	top: 0;
	z-index: 1;

	max-width: var(--container-xl);
	width: 100%;
	height: var(--space-16);
	margin: 0 auto;
	padding: 0 var(--space-4);

	display: flex;
	align-items: center;

	background-color: var(--color-surface-background);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.header > div {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: var(--container-lg);
	width: 100%;
	margin: 0 auto;
}

.logo {
	.firstname {
		font-family: var(--font-kalam);
		font-size: var(--font-3xl);
		font-weight: 400;
		color: var(--color-text-primary);
	}

	.lastname {
		font-family: var(--font-kalam);
		font-size: var(--font-3xl);
		font-weight: 700;
		color: var(--color-text-primary);
	}
}

.navbar {
	display: none;
	align-items: center;
	gap: var(--space-4);
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: var(--space-2);
	padding: var(--space-2);

	font-size: var(--font-base);
	font-weight: 700;

	color: var(--color-text-secondary);
	border: 2px solid transparent;
	border-radius: var(--radius-xl);
}

.menu-item:hover {
	color: var(--color-text-primary);
	font-weight: 700;
}

.menu-item:focus {
	border-color: var(--color-text-primary);
	color: var(--color-text-primary);
	font-weight: 700;
}

/* MOBILE MENU */

#menu-toggle {
	& > i {
		font-size: var(--font-2xl);
		color: var(--color-text-primary);
	}

	.ph-x {
		display: none;
	}

	.ph-list {
		display: block;
	}
}

#menu-toggle.active {
	.ph-x {
		display: block;
	}

	.ph-list {
		display: none;
	}
}

#mobile-menu {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	right: 0;

	width: 280px;
	height: calc(100vh - var(--space-16));
	padding: 1.5rem 1rem;

	background: var(--color-surface-primary);

	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;

	display: flex;
	flex-direction: column;
	align-items: end;
	gap: var(--space-6);

	.buttons {
		display: flex;
		gap: var(--space-4);
	}
}

#mobile-menu.active {
	transform: translateX(0);
}

#overlay {
	height: calc(100vh - var(--space-20));
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	/* background: rgba(0,0,0,0.4); */
	backdrop-filter: blur(8px);
	display: none;

	z-index: 1;
}

#overlay.active {
	display: block;
}

/* ========== HERO SECTION ========== */

#hero {
	width: 100%;
	padding: var(--space-12) var(--space-6);

	background-color: var(--color-surface-background);

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: var(--space-6);
}

#hero .container {
	max-width: 592px;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: var(--space-6);

	.title {
		font-family: var(--font-kalam);
		font-size: var(--space-10);
		line-height: var(--line-height-7xl);
		font-weight: var(--font-weight-bold);
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: var(--space-4);

		h2 {
			color: var(--color-text-primary);
			font-size: var(--font-2xl);
			font-weight: var(--font-weight-medium);
			line-height: var(--line-height-xl);
		}

		p {
			color: var(--color-text-secondary);
			font-size: var(--font-base);
			font-weight: var(--font-weight-regular);
			line-height: var(--line-height-base);
		}
	}

	.cta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--space-4);
	}
}

#hero .hero-image {
	display: flex;
	max-width: 350px;
	width: 100%;
}

/* ========== ABOUT SECTION ========== */
#about {
	width: 100%;
	padding: var(--space-0);

	background-color: var(--color-surface-background);
}

#about .container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--space-10);
	padding: var(--space-12) var(--space-6);

	background-color: var(--color-surface-primary);
	border-radius: 0;

	.about-image {
		display: block;
		margin: 0 auto;
		max-width: 488px;
		width: 100%;
	}

	.content {
		/* flex: 1; */
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: var(--space-8);

		.text {
			display: flex;
			flex-direction: column;
			gap: var(--space-4);

			p {
				color: var(--color-text-secondary);
				font-size: var(--font-base);
				font-weight: var(--font-weight-regular);
				line-height: var(--line-height-base);
			}
		}
	}
}

/* ========== PROJECT SECTION ========== */
#projects {
	width: 100%;
	padding: var(--space-12) var(--space-6);

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-10);

	.headline {
		text-align: center;
	}

	#projects-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, 1fr);
		gap: var(--space-6);
	}

	.project-card {
		position: relative;
		background-color: var(--color-surface-primary);
		padding: var(--space-6);
		border-radius: var(--radius-2xl);
		border: 2px solid transparent;

		display: flex;
		flex-direction: column;
		gap: var(--space-4);

		transition: all var(--transition-default);

		&:hover {
			border-color: var(--color-secondary-500);
			box-shadow: 0 0 48px var(--color-secondary-50);
		}

		.project-image {
			width: 100%;
			height: 160px;
			object-fit: cover;
			border-radius: var(--radius-lg) var(--radius-lg) 0 0;
		}

		.project-description {
			display: flex;
			flex-direction: column;
			gap: var(--space-2);

			strong {
				color: var(--color-text-primary);
				font-size: var(--font-xl);
				font-weight: var(--font-weight-medium);
				line-height: var(--line-height-base);
			}

			p {
				color: var(--color-text-primary);
				font-size: var(--font-base);
				font-weight: var(--font-weight-regular);
				line-height: var(--line-height-base);

				line-clamp: 2;
				-webkit-line-clamp: 2;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}

		.actions {
			position: absolute;
			top: var(--space-4);
			right: var(--space-4);
			display: flex;
			opacity: 0;
			flex-direction: column;
			gap: var(--space-2);

			transition: all var(--transition-fast);

			a {
				box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.4);
			}
		}

		&:hover .actions {
			opacity: 1;
		}
	}
}

/* ========== CONTACT SECTION ========== */
#contact {
	width: 100%;
	padding: var(--space-0);

	background-color: var(--color-surface-background);
}

#contact .container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--space-12);
	padding: var(--space-12) var(--space-6);

	background-color: var(--color-surface-primary);
	border-radius: 0;

	.social {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: var(--space-10);

		img {
			width: 160px;
			height: 160px;
		}

		.text {
			display: flex;
			flex-direction: column;
			gap: var(--space-4);

			p {
				color: var(--color-text-secondary);
				font-size: var(--font-base);
				font-weight: var(--font-weight-regular);
				line-height: var(--line-height-base);

				a {
					color: var(--color-secondary-500);
					text-decoration: underline;
				}
			}

			.social-links {
				display: flex;
				align-items: center;
				gap: var(--space-2);
			}
		}
	}

	form {
		flex: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: var(--space-8);

		.inputs {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: var(--space-4);
		}
	}
}

/* ========== FOOTER ========== */
#footer {
	width: 100%;
	padding: var(--space-6) var(--space-4);

	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--space-4);

	.copyright {
		flex: 1;

		color: var(--color-text-secondary);
		font-size: var(--font-sm);
		font-weight: var(--font-weight-regular);
		line-height: var(--line-height-base);

		i {
			color: var(--color-primary-500);
		}

		a {
			color: var(--color-primary-500);
			text-decoration: underline;
		}
	}

	.links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

/* ========== PROJECT DETAILS SECTION ========== */
#project-details {
	width: 100%;
	padding: var(--space-8) 0;

	display: flex;
	flex-direction: column;
	gap: var(--space-8);

	.info-preview {
		flex: 1;
		display: flex;
		flex-direction: column;
		border-radius: 0;
		overflow: hidden;

		.image-container {
			position: relative;
			width: 100%;

			img {
				display: block;
				width: 100%;
				max-height: 360px;
				object-fit: cover;
			}

			#back-button {
				position: absolute;
				top: var(--space-6);
				left: var(--space-6);
			}
		}

		.description {
			display: flex;
			flex-direction: column;
			gap: var(--space-6);

			padding: var(--space-6) var(--space-6) var(--space-12);
			background-color: var(--color-surface-primary);

			h1 {
				color: var(--color-text-primary);
				font-size: var(--font-3xl);
				line-height: var(--line-height-3xl);
				font-weight: var(--font-weight-medium);
			}

			.text {
				display: flex;
				flex-direction: column;
				gap: var(--space-4);

				color: var(--color-text-secondary);
				font-size: var(--font-lg);
				line-height: var(--line-height-xl);
				font-weight: var(--font-weight-regular);
			}
		}
	}

	.links {
		width: 100%;
		align-self: self-start;

		display: flex;
		flex-direction: column;
		gap: var(--space-6);
		padding: var(--space-6);

		border-radius: 0;
		overflow: hidden;
		background-color: var(--color-surface-primary);

		h2 {
			color: var(--color-text-primary);
			font-size: var(--font-xl);
			line-height: var(--line-height-xl);
			font-weight: var(--font-weight-medium);
		}

		.buttons {
			display: flex;
			flex-direction: column;
			gap: var(--space-4);

			a {
				justify-content: space-between;
			}
		}
	}
}

/* ========== RESPONSIVE ========== */

/* xs - 480px */
@media (min-width: 480px) {
}

/* sm - 640px */
@media (min-width: 640px) {
	#projects {
		#projects-grid {
			grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
		}
	}
}

/* md - 768px */
@media (min-width: 768px) {
	.header {
		height: var(--space-20);
		padding: 0 var(--space-8);
	}

	#menu-toggle {
		display: none;
	}

	#mobile-menu {
		display: none;
	}

	.navbar {
		display: flex;
	}

	#about {
		padding: var(--space-10);
	}

	#about .container {
		gap: var(--space-16);
		padding: var(--space-18);

		border-radius: var(--radius-2xl);
	}

	#projects {
		padding: var(--space-18) var(--space-28);

		.project-image {
			gap: var(--space-8);
		}
	}

	#contact {
		padding: var(--space-10);
	}

	#contact .container {
		padding: var(--space-18);
		border-radius: var(--radius-2xl);
	}

	#footer {
		flex-direction: row;
		align-items: center;
		gap: var(--space-6);

		padding: var(--space-10);

		.links {
			gap: var(--space-8);
		}
	}
}

/* lg - 1024px */
@media (min-width: 1024px) {
	#hero {
		flex-direction: row;
		padding: var(--space-24) var(--space-28);
	}

	#hero .container {
		gap: var(--space-8);
	}

	#about .container {
		flex-direction: row;
		gap: var(--space-32);
	}

	#contact .container {
		flex-direction: row;
		gap: var(--space-32);
	}

	#footer {
		padding: var(--space-8) var(--space-28);
	}

	#project-details {
		padding: var(--space-8);

		flex-direction: row;
		gap: var(--space-6);

		.info-preview {
			border-radius: var(--radius-2xl);

			.description {
				padding: var(--space-8) var(--space-12) var(--space-12);
			}
		}

		.links {
			max-width: 384px;
			padding: var(--space-8);
			border-radius: var(--radius-2xl);
		}
	}
}

/* xl - 1280px */
@media (min-width: 1280px) {
	#hero {
		gap: var(--space-32);
	}

	#hero .hero-image {
		max-width: 488px;
	}

	#project-details {
		padding: var(--space-8) var(--space-28);
	}
}

/* 2xl - 1536px */
@media (min-width: 1536px) {
}

/* ========== ANIMATIONS ========== */
