:root {
	--font-heebo: "Heebo", sans-serif;
	--font-kalam: "Kalam", cursive;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-heebo);
	background-color: #1b1b1b;
	color: #fff;
}
